.enh__tab{
	border-bottom: #5b9bd1 solid 1px;
	margin-bottom: 10px;
	display: flex;
	flex-flow: row wrap;

	& li {
		flex: 1;
		border-right: #5b9bd1 solid 1px;
		flex-basis: 60px;

		& a{
			display: block;
			padding: 2px 0px;
			text-align: center;
		}

		&:last-child{
			border-right: none;
		}
	}
}
.enh__emotelist{
	display: flex;
	flex-flow: row wrap;

	& li{
		flex: 1;
		flex-basis: 25px;

		& a{
			display: block;
			padding: 2px 0px;
			text-align: center;

			&:hover{
				background: #666;
			}
		}
	}
}

.mychat .log ul.enh__tab{
	margin-bottom: 10px;
}

.enh__emoji{
	color: white;
	white-space: nowrap;
}
