a{
	color: #ccc;
	text-decoration: none;
}
#container{
	color: white;
	max-width: 960px;
	margin: auto;
}
.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.label{
	margin-left: 10px;
}
.save{
	margin-top: 20px;
}
.saved{
	background-color: #646666;
	text-shadow: 0 -1px rgba(0,0,0,.69);
	color: #c6c8c8;
	border: 1px solid #303233;
	box-shadow: inset 0 1px #727373;
	margin-top: 20px;
	padding: 0 .875rem;
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.688rem;
}
.topcoat-text-input{
	width: 56px;
}
#target, #emotes{
	width: 50%;
}
.emotepick{
	margin-bottom: 10px;
	position: relative;
	width: 150px;
	height: 2rem;
}
.emotepick input[type=file], .emotepick button{
	position: absolute;
	top: 0; left:0;
	width: 100%;
	height: 100%;
}
.emotepick input[type=file]{
	opacity: 0;
}
#emotelist{
	height: 350px;
	overflow-y: auto;
	border: 1px solid #303233;
	border-radius: 4px;
}
#emotelist .loading{
	text-align: center;
	height: 350px;
	line-height: 350px;
}
.list-head{
	background: #646666;
	padding: .2rem .875rem;
	font-weight: bold;
	line-height: 23px;
	height: 23px;
}
.list-head button{
	float: right;
}
.list-status{
	margin-right: 5px;
}
.emote{
	border-bottom: #646666 solid 1px;
	padding: .2rem .4rem;
	min-height: 30px;
	line-height: 30px;
}
.emote:last-child{
	border-bottom: none;
}
.emote .text{
	padding-left: 40px;
}
.emote img{
	vertical-align: middle;
	margin-right: 10px;
	display: block;
	float: left;
}
.emote:after{
	clear: both;
	display: block;
	content: "";
}

pre.license{
	padding: 1rem;
	font-size: 1rem;
	font-weight: 400;
	border-radius: 4px;
	line-height: 1.313rem;
	border: 1px solid #333434;
	background-color: #454646;
	box-shadow: inset 0 1px rgba(0,0,0,0.05);
	color: #c6c8c8;
	letter-spacing: 0;
	height: 200px;
	overflow: auto;
}
pre.license:focus{
	background-color: #595b5b;
	color: #fff;
	border: 1px solid #0036ff;
	box-shadow: 0 0 0 2px #6fb5f1;
}
